.museum-icon(@src, @fill, @width, @height, @old-fill, @old-width, @old-height) {
    @a: data-uri('image/svg+xml;charset=UTF-8', "@{src}");
    @b: replace("@{a}", escape('@{old-fill}'), escape('@{fill}'));
    @c: replace("@{b}", escape('width="@{@old-width}"'), escape('width="@{width}"'));
    @d: replace("@{c}", escape('height="@{old-height}"'), escape('height="@{height}"'));
    background-image: e(@d);
}

.museum-no-select(@user-select: none) {
  -webkit-touch-callout: @user-select;
  -webkit-user-select: @user-select;
  -khtml-user-select: @user-select;
  -moz-user-select: @user-select;
  -ms-user-select: @user-select;
  user-select: @user-select;
}
.museum-border-box() {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.museum-transition (@transition) {
	-webkit-transition: @transition;  
	-moz-transition:    @transition;
	-ms-transition:     @transition; 
	-o-transition:      @transition;  
}
.museum-transform(@string){
	-webkit-transform: @string;
	-moz-transform: 	 @string;
	-ms-transform: 		 @string;
	-o-transform: 		 @string;
}
.museum-transition-transform (@transition) {
	-webkit-transition: -webkit-transform @transition;  
	-moz-transition: -moz-transform @transition;
	-ms-transition: -ms-transform @transition; 
	-o-transition: -o-transform @transition;  
	transition: transform @transition;
}

.museum-scrollbar(@width: 5px) {
    &::scrollbar { width: @width; }
    &::scrollbar-button {
        width: 0px;
        height: 0px;
    }
    &::scrollbar-track {
        background: @museum-scrollbar-bg;
        border: 0; 
        border-radius: 0;
    }
    &::scrollbar-thumb {
        background: @museum-scrollbar-thumb;
        border-radius: 0;
    }
    &::scrollbar-thumb:hover {
        background: @museum-scrollbar-thumb;
    }
    
    &::-moz-scrollbar { width: @width; }
    &::-webkit-scrollbar { width: @width; }
    &::-webkit-scrollbar-button {
        width: 0px;
        height: 0px;
    }
    &::-webkit-scrollbar-track {
        background: @museum-scrollbar-bg;
        border: 0; 
        border-radius: 0;
    }
    &::-webkit-scrollbar-thumb {
        background: @museum-scrollbar-thumb;
        border-radius: 0;
    }
    &::-webkit-scrollbar-thumb:hover {
        background: @museum-scrollbar-thumb;
    }
}

@museum-scrollbar-bg: #1E1E1E;
@museum-scrollbar-thumb: #9E9E9E;

@museum-anim-speed: 0.18s;
@museum-page-color: #9E9E9E;
@museum-page-spacing: 15px;
@museum-overlay-bg: #1E1E1E;

@museum-nav-width: 74px;
@museum-nav-padding: 10px;
@museum-nav-spacing: 15px;
@museum-nav-close-spacing: 40px;
@museum-nav-bg: #333333;

@museum-toc-bg: #252526;
@museum-toc-width: 250px;
@museum-toc-padding: 1.2em;

@museum-toc-row-padding: 0.35em 0;
@museum-toc-row-color: #aaa;
@museum-toc-row-color-hover: #bbb;
@museum-toc-row-color-active: #fff;

@museum-info-bg: darken(#252526, 1%);
@museum-info-color: #fff;
@museum-info-padding: 1.35em; 
@museum-info-height: 25%;

@museum-btn-bg: #4F4F4F;
@museum-btn-bg-hover: lighten(@museum-btn-bg, 7%);
@museum-btn-bg-toggled: darken(@museum-btn-bg, 18%);
@museum-btn-glyph-size: 26;
@museum-btn-glyph-color: #fff;
.museum-btn-close-glyph() { .museum-icon("icon-close.svg", @museum-btn-glyph-color, @museum-btn-glyph-size, @museum-btn-glyph-size, #000000, 110, 110); }
.museum-btn-next-glyph() { .museum-icon("icon-next.svg", @museum-btn-glyph-color, @museum-btn-glyph-size, @museum-btn-glyph-size, #000000, 110, 110); }
.museum-btn-prev-glyph() { .museum-icon("icon-prev.svg", @museum-btn-glyph-color, @museum-btn-glyph-size, @museum-btn-glyph-size, #000000, 110, 110); }
.museum-btn-toc-glyph() { .museum-icon("icon-toc.svg", @museum-btn-glyph-color, @museum-btn-glyph-size, @museum-btn-glyph-size, #000000, 110, 110); }
.museum-btn-info-glyph() { .museum-icon("icon-info.svg", @museum-btn-glyph-color, @museum-btn-glyph-size, @museum-btn-glyph-size, #000000, 110, 110); }

body.museum-overlay-shown {
    overflow: hidden;
}

museum-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: @museum-overlay-bg;
    
    &.shown {
        display: block;
    }
    
    &.hidden {
        
    }
}

museum-gallery {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: @museum-nav-width;
    overflow: hidden;
    .museum-transition(~"right @{museum-anim-speed}, bottom @{museum-anim-speed}");
    .toc-shown & {
        right: (@museum-nav-width + @museum-toc-width);
    }
    .info-shown & {
        bottom: @museum-info-height;
    }
}

museum-gallery-item {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    .museum-transition-transform(~"0.1s");
    
    &.shown {
        display: block;
    }
    
    > .img {
        .museum-no-select();
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
    }
}
museum-info {
    display: block;
    position: absolute;
    bottom: 0;
    right: @museum-nav-width;
    left: 0;
    height: 0;
    opacity: 0;
    background: @museum-info-bg;
    .museum-transform(translateY(100%));
    .museum-transition-transform(~"@{museum-anim-speed}, right @{museum-anim-speed}, opacity @{museum-anim-speed}");
    
    .info-shown & {
        opacity: 1;
        height: @museum-info-height;
        .museum-transform(translateY(0));
        overflow: auto;
    }
    
    .toc-shown & {
        right: (@museum-nav-width + @museum-toc-width);
    }
}
museum-info-content {
    display: block;
    padding: @museum-info-padding;
    color: @museum-info-color;
}
museum-toc {
    display: block;
    .museum-border-box();
    position: absolute;
    top: 0;
    bottom: 0;
    padding: @museum-toc-padding;
    right: @museum-nav-width;
    width: @museum-toc-width;
    background: @museum-toc-bg;   
    height: 0;
    opacity: 0;
    .museum-transition-transform(~"@{museum-anim-speed}, opacity @{museum-anim-speed}");
    .museum-transform(translateX(100%));
    
    .toc-shown & {
        height: 100%;
        opacity: 1;
        .museum-transform(translateX(0));
        overflow: auto;
    } 
}
.museum-toc-row {
    .museum-transition(color @museum-anim-speed);
    padding: @museum-toc-row-padding;
    color: @museum-toc-row-color;
    display: block;
    
    &:hover {
        color: @museum-toc-row-color-hover;
    }
    
    &.active {
        color: @museum-toc-row-color-active;
    }
}
museum-nav {
    display: block;
    z-index: 2;
    background: @museum-nav-bg;
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    width: (@museum-nav-width - @museum-nav-padding * 2);
    padding: @museum-nav-padding;
    
    &:focus {
        outline: 0;
    }
}
museum-page {
    display: block;
    text-align: center;
    color: @museum-page-color;
    margin: 0 0 @museum-page-spacing 0;
}
.museum-btn {
    display: block;
    position: relative;
    padding: 0;
    border: 0;
    margin: 0 0 @museum-nav-spacing 0;
    padding-top: 100%;
    background: @museum-btn-bg;
    width: 100%;
    border-radius: 50%;
    .museum-no-select();
    .museum-transition(background @museum-anim-speed);
    
    &:after {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
        display: block;
        text-align: center;
        content: "";
        background: center center no-repeat;
    }
    
    &:hover {
        background: @museum-btn-bg-hover;
    }
    
    &:active {
        .museum-btn-toggled();
    }
}

.museum-btn-disabled() {
    opacity: 0.6;
    &:after {   
        opacity: 0.7;
    }
    &:hover {
        background: @museum-btn-bg;
    }
}

.museum-btn-toggled() {
    background: @museum-btn-bg-toggled;
    
    &:hover {
        background: @museum-btn-bg-toggled;
    }
}
.museum-btn-close {
    margin-bottom: @museum-nav-close-spacing;
}
.museum-btn-close:after {
    .museum-btn-close-glyph();
}
.museum-btn-next:after {
    .museum-btn-next-glyph();
}
.museum-btn-prev:after {
    .museum-btn-prev-glyph();
}
.museum-btn-toc:after {
    .museum-btn-toc-glyph();
}
.museum-btn-info:after {
    .museum-btn-info-glyph();
}

.museum-btn-toc {
    display: none;
    .has-toc & {
        display: block;
    }
}

.museum-btn-info {
    display: none;
    .has-info & {
        display: block;
    }
}

.on-last-item .museum-btn-next,
.on-first-item .museum-btn-prev {
    .museum-btn-disabled();
}
.toc-shown .museum-btn-toc {
    .museum-btn-toggled();
}
.info-shown .museum-btn-info {
    .museum-btn-toggled();
}

museum-gallery,
museum-toc,
museum-info {
    .museum-scrollbar();
}

@media(max-height: 750px) {
    
    @museum-info-height: 33%;
    museum-gallery {
        .info-shown & {
            bottom: @museum-info-height;
        }
    }
    museum-info {
        .info-shown & {
            height: @museum-info-height;
        }
    }
}
@media(max-height: 550px) {
    
    @museum-info-height: 70%;
    museum-gallery {
        .info-shown & {
            bottom: @museum-info-height;
        }
    }
    museum-info {
        .info-shown & {
            height: @museum-info-height;
        }
    }
}


@media(max-width: 550px) {
    @museum-toc-width: auto;
    museum-toc {
        width: @museum-toc-width;
        .toc-shown & {
            left: 0;
        }
    }
    
    museum-info {
        .toc-shown & {
            right: @museum-nav-width;
        }
    }
    
    museum-gallery {   
        .toc-shown & {
            right: @museum-nav-width;
        }
    }
}
